.movie_detail {
  color: white;
  margin-top: 75px;
}
.component {
  max-width: 100%;
  min-width: 100%;
  padding: 30px 0px;
}
.component > h2 {
  font-size: 1.8rem;
  font-family: "Public Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  color: rgb(255, 255, 255);
  line-height: 1.3;
  text-overflow: ellipsis;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 10px 5px 30px;
  display: block;
  box-sizing: border-box;
}

.castList {
  display: flex;
  margin-top: 15px;
  width: 750px;
  height: 300px;
  overflow-y: hidden;
  overflow-x: scroll;
}
.castList::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}
.castList::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgba(241, 237, 237, 0.507);
}

.media__btn {
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  color: white;
  border: none;
  background: transparent;
  margin-right: 30px;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Public Sans", sans-serif;
  cursor: pointer;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
.media__btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: white;
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
}
.media__btn:hover:before,
.media__btn:focus:before,
.media__btn:active:before {
  left: 0;
  right: 0;
}
.movie_backdrops {
  width: 100%;
  height: 100%;
  min-height: 300px;
  object-fit: cover;
  padding: 4px;
}
.review__flex {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.reviewAlt {
  display: block;
  margin: 15px 0px 15px 60px;
  max-width: 600px;
  padding: 3px 15px 0px 0;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-family: "Public Sans", sans-serif;
  line-height: 1.1;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.more__btn,
.cast_more_btn {
  border: none;
  user-select: none;
  background-color: transparent;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
  font-family: "Public Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 900;
}
.cast_more_btn {
  text-decoration: none;
  min-width: 100px;
  padding: 5px;
}

@media only screen and (max-width: 60.0625em) {
  .poster {
    display: block;
  }
  .content {
    max-width: 75%;
  }
}
@media only screen and (max-width: 50.0625em) {
  .row__castlist {
    display: block;
  }
  .content {
    max-width: 85%;
  }
  .review__input {
    width: 100%;
    height: 200px;
    max-width: 85vw;
    min-width: 85vw;
    min-height: 200px;
  }
}
